@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Teko", "Oswald", sans-serif;
  }
  body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 455vh;
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #181818;
  }
  body::-webkit-scrollbar-thumb {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    height: 90px;
  }
  .principalBox{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 100vh;
    gap: 100px;
  
  }
  .boxProdutos1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #8B0000; 
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos1 img{
      position: relative;
      top: 40px;
      height: auto;
      left: 0px;
      width: 700px;
    
    }
  }
  .boxDescricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    height: 90%;
    width: 600px;
  }
  .prodDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 200px;
    height: 150px;
    border-radius: 15px;
    background-color: #181818;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(10px);
    border: 1px solid white;
  }
.boxProdutos1 .prodDesc img{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 150px;
  top: 5%;
}
  .boxProdutos2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #D2691E;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos2 img{
      position: relative;
      top: 40px;
      height: auto;
      width: 700px;
    
    }
  }
  .boxProdutos3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #DAA520	;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos3 img{
      position: relative;
      top: 40px;
      height: auto;
      width: 700px;
    
    }
  }
  .boxProdutos4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    background-color: #3CB371;
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos4 img{
      position: relative;
      top: 40px;
      height: auto;
      width: 700px;
    
    }
  }

 
  

/* MOBILE */

@media (max-width: 1024px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 555vh;
  }
  .principalBox{
    display:flex ;
    align-items: center;
    justify-content: center;
  }
  .boxProdutos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    &.boxProdutos1 h1{
      margin-left: 0px;
      font-size: 5rem;
    }&.boxProdutos1 img{
      position: relative;
      top: 200px;
      height: auto;
      width: 400px;
    
    }

  }

  .boxProdutos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    &.boxProdutos2 h1{
      margin-left: 0px;
      font-size: 5rem;
    }&.boxProdutos2 img{
      position: relative;
      top: 200px;
      height: auto;
      width: 400px;
    
    }
  }

  .boxProdutos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    &.boxProdutos3 h1{
      margin-left: 0px;
      font-size: 5rem;
      width: 400px;
    }&.boxProdutos3 img{
      position: relative;
      top: 200px;
      height: auto;
      width: 400px;
    
    }
  }

  .boxProdutos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    &.boxProdutos4 h1{
      margin-left: 0px;
      font-size: 5rem;
      width: 400px;
    }&.boxProdutos4 img{
      position: relative;
      top: 200px;
      height: auto;
      width: 400px;
    
    }
  }

}

  
@media (max-width: 768px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    height: 1200vh;
  }
 .boxProdutos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    &.boxProdutos1 h1{
      margin-left: 0px;
      font-size: 5rem;
    }&.boxProdutos1 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 30px;
      width: 350px;
    
    }
  }

  .boxProdutos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    &.boxProdutos2 h1{
      margin-left: 0px;
      font-size: 5rem;
    }&.boxProdutos2 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 30px;
      width: 350px;
    
    }
  }

  .boxProdutos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    &.boxProdutos3 h1{
      text-wrap: wrap;
      margin-left: 0px;
      font-size: 5rem;
      width: 500px;
    }&.boxProdutos3 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 30px;
      width: 350px;
    
    }
  }

  .boxProdutos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    &.boxProdutos4 h1{
      margin-left: 0px;
      font-size: 5rem;
      text-align: center;
      width: 400px;
    }&.boxProdutos4 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 30px;
      width: 350px;
    
    }
  }

}
@media (max-width: 450px) {
  body{
    height: 600vh;
  }
   .boxProdutos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    &.boxProdutos1 h1{
      margin-left: 0px;
      font-size: 4rem;
    }&.boxProdutos1 img{
      position: relative;
      top: 250px;
      height: auto;
      left: 0px;
      width: 300px;
    
    }
  }

  .boxProdutos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    &.boxProdutos2 h1{
      margin-left: 0px;
      font-size: 4rem;
    }&.boxProdutos2 img{
      position: relative;
      top: 250px;
      height: auto;
      left: 0px;
      width: 300px;
    
    }
  }

  .boxProdutos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    &.boxProdutos3 h1{
      text-wrap: wrap;
      margin-left: 0px;
      font-size: 4rem;
      width: 500px;
    }&.boxProdutos3 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 0px;
      width: 300px;
    
    }
  }
  .boxProdutos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    &.boxProdutos4 h1{
      margin-left: 0px;
      font-size: 5rem;
      text-align: center;
      width: 400px;
    }&.boxProdutos4 img{
      position: relative;
      top: 220px;
      height: auto;
      left: 0px;
      width: 300px;
    
    }
  }
  .directed{
    text-align: center;

  }
}

@media (max-width: 375px) {
 
  .boxProdutos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    &.boxProdutos1 h1{
      margin-left: 0px;
      font-size: 3rem;
    }
  }

  .boxProdutos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;    &.boxProdutos2 h1{
      margin-left: 0px;
      font-size: 3rem;
    }
  }

  .boxProdutos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;    &.boxProdutos3 h1{
      text-wrap: wrap;
      margin-left: 0px;
      font-size: 3rem;
      width: 500px;
     
    }
  }

  .boxProdutos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;    &.boxProdutos4 h1{
      margin-left: 0px;
      font-size: 3rem;
      text-align: center;
      width: 300px;
    }
  }
  .directed{
    margin-right: 90px;
  }
}
@media (max-width: 320px) {
 
  .boxProdutos1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    &.boxProdutos1 h1{
      margin-left: 0px;
      font-size: 2.5rem;
    }
  }

  .boxProdutos2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;    &.boxProdutos2 h1{
      margin-left: 0px;
      font-size: 2.5rem;
    }
  }

  .boxProdutos3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;    &.boxProdutos3 h1{
      text-wrap: wrap;
      margin-left: 0px;
      font-size: 2.5rem;
      width: 400px;
      
    }
  }

  .boxProdutos4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;    &.boxProdutos4 h1{
      margin-left: 0px;
      font-size: 2.5rem;
      text-align: center;
      width: 200px;
    }
  }
  .directed{
    margin-right: 90px;
    font-size: 1rem;
  }
}

  

