@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Teko", "Oswald", sans-serif;
  }
  body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 455vh;
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #181818;
  }
  body::-webkit-scrollbar-thumb {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    height: 90px;
  }
  .principalBox{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 100vh;
    gap: 100px;
  
  }
  .boxProdutos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fundoProd.jpg);
    border: 5px solid rgb(189, 189, 189);
    border-radius: 5px;
    background-size: cover;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
  }
  .boxProdutos h1{
    flex-wrap: nowrap;
    color: #64646433;
    font-size: 8rem;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    position: absolute;
    letter-spacing: 15px;
    text-align: center;
    background-size: cover;
  }
  .boxProdutos img{
    position: relative;
    top: 40px;
    height: auto;
    left: 400px;
  
  }
  .item4{
    width: 700px;
  }

/* MOBILE */

@media (max-width: 1024px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 555vh;
  }
  .boxProdutos{
    width: 900px;
  }
  .boxProdutos h1{
    font-size: 4rem;
  }

  .boxProdutos img{
display: none;
  
  }

}

  
@media (max-width: 768px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 600vh;
  }
  .boxProdutos{
    width: 700px;
  }
  .boxProdutos h1{
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
 
  .boxProdutos{
    width: 400px;
  }
  .boxProdutos h1{
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
 
  .boxProdutos{
    width: 300px;
  }
  .boxProdutos h1{
   
    font-size: 9px;
  }
}

  

