@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Teko", "Oswald", sans-serif;
  }
  body {
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 455vh;
  }
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #181818;
  }
  body::-webkit-scrollbar-thumb {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.253);
    height: 90px;
  }
  .principalBox{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    height: 100vh;
    gap: 100px;
  
  }
  .boxProdutos1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #8B0000; 
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos1 h1{
      flex-wrap: nowrap;
      color: #4949494b;
      font-size: 6rem;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      position: absolute;
      letter-spacing: 15px;
      text-align: center;
      background-size: cover;
      margin-left: 60px;
    }&.boxProdutos1 img{
      position: relative;
      top: 40px;
      height: auto;
      left: 800px;
      width: 700px;
    
    }
  }
  .boxProdutos2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #D2691E;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos2 h1{
      flex-wrap: nowrap;
      color: #4949494b;
      font-size: 6rem;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      position: absolute;
      letter-spacing: 15px;
      text-align: center;
      background-size: cover;
      margin-left: 60px;
    }&.boxProdutos2 img{
      position: relative;
      top: 40px;
      height: auto;
      left: 800px;
      width: 700px;
    
    }
  }
  .boxProdutos3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    background-color: #DAA520	;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos3 h1{
      flex-wrap: nowrap;
      color: #4949494b;
      font-size: 6rem;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      position: absolute;
      letter-spacing: 15px;
      text-align: center;
      background-size: cover;
      margin-left: 60px;
    }&.boxProdutos3 img{
      position: relative;
      top: 40px;
      height: auto;
      left: 800px;
      width: 700px;
    
    }
  }
  .boxProdutos4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(189, 189, 189);
    border-radius: 5px;
    box-shadow: 0px 0px 8px 7px rgb(0, 0, 0);
    background-color: #3CB371;
    width: 1500px;
    height: 800px;
    overflow: hidden;
    &.boxProdutos4 h1{
      flex-wrap: nowrap;
      color: #4949494b;
      font-size: 6rem;
      font-family: 'Russo One', sans-serif;
      text-transform: uppercase;
      position: absolute;
      letter-spacing: 15px;
      text-align: center;
      background-size: cover;
      margin-left: 60px;
    }&.boxProdutos4 img{
      position: relative;
      top: 40px;
      height: auto;
      left: 850px;
      width: 700px;
    
    }
  }

 
  

/* MOBILE */

@media (max-width: 1024px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
    min-height: 555vh;
  }
  .boxProdutos{
    width: 900px;
  }
  .boxProdutos h1{
    font-size: 4rem;
  }

  .boxProdutos img{
display: none;
  
  }

}

  
@media (max-width: 768px) {
 
  body{
    background-color: #111;
    display: flex;
    flex-direction: column;
  
    height: 1200vh;
  }
  .boxProdutos{
    width: 700px;
  }
  .boxProdutos h1{
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
 
  .boxProdutos{
    width: 400px;
  }
  .boxProdutos h1{
    font-size: 1.2rem;
  }
}

@media (max-width: 375px) {
 
  .boxProdutos{
    width: 300px;
  }
  .boxProdutos h1{
   
    font-size: 9px;
  }
}

  

