@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
}
body {
  background-color: #ffffff;
}
header {
  background-color: #0f0f0f;
  height: 120px;
}
.navBar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
}
.menuList {
  display: flex;
  align-items: center;
}
.menuItem {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.menuItem li a {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 1rem;
  width: 100px;
  &:hover {
    background-color: #ffffff;
    width: 100px;
    color: #0f0f0f;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 2px 5px #ffffff;
  }
}
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 4px rgb(0, 0, 0);
}
.logo:hover {
  box-shadow: 5px 4px rgb(255, 255, 255);
  transition: 0.5s;
}
.perfil {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 1px 4px rgb(0, 0, 0);
}
.perfil h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  height: 50px;
  width: 50px;
}
.mobileIcon {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  display: none;
  border-radius: 50%;
}

.mobileIcon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.mobMenu {
  display: none;
}
/* MOBILE */
.menuMobile li a {
  display: none;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 1.4rem;
  width: 50px;
  height: 40px;
  margin-bottom: 0.7rem;
  &:hover {
    background-color: #ffffff;
    width: 50px;
    color: #0f0f0f;
    transition: 0.5s;
  }
}
.menuMobile li i {
  display: flex;
  padding-right: 8px;
}
main {
  height: 100vh;
}

/* FOOTER */

footer {
  background-color: #0f0f0f;
  width: 100%;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.footerList {
  list-style: none;
}
.footerListMedia {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.footerListMedia img {
  width: 50px;
}
.directed {
  margin-top: 1rem;
  color: #ffffff;
}
.iconGit {
  background-color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .menuItem {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .perfil {
    display: block;
  }
  .mobileIcon {
    display: block;
    cursor: pointer;
    &:hover {
      background-color: #b9b9b927;
      transition: 0.65s;
    }
  }
  .menuMobile {
    list-style: none;
  }
  .menuMobile li a {
    padding-left: 1.5rem;
    padding-top: 10px;
    width: 200px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: center;
  }
  .menuMobile li a:hover {
    width: 200px;
  }
  .mobMenu {
    display: none;
    width: 200px;
    height: 100vh;
    background-color: #0f0f0f;
    position: relative;
    top: 6px;
  }
  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .directed {
    padding: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .logo h1 {
    text-align: center;
    width: 80px;
  }
  .menuItem li a {
    margin: 0;
  }
}

.mobMenu {
  animation: efeito 0.3s linear;
}
@keyframes efeito {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
